
//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";

//
// Navbar
// --------------------------------------------------

html,
body
{
  height: 100%;
}

.navbar {
  font-weight: bold;
}

.navbar-toggle {
  padding: 10px 10px;
}

.navbar-brand {
  padding: 15px @navbar-padding-horizontal;

  > img {
    height: 100%;
  }
}

.navbar-lead {
  color: #fff;
  font-weight: normal;

  padding: 0 @navbar-padding-horizontal;

  background-color: @brand-primary;

  > h1, .h1, h2, .h2, h3, .h3
  {
    margin: ((@line-height-computed / 3)*2) 0;
  }
}

.dropdown-menu {
  box-shadow: none;
}

.warning {
  background-color: @brand-warning;
}

.danger {
  background-color: @brand-danger;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
